@font-face {
  font-family: 'TLCircular';
  src: url('../fonts/TLCircular-Book.eot');
  src: url('../fonts/TLCircular-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TLCircular-Book.woff2') format('woff2'),
    url('../fonts/TLCircular-Book.woff') format('woff'),
    url('../fonts/TLCircular-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TLCircular';
  src: url('../fonts/TLCircular-Bold.eot');
  src: url('../fonts/TLCircular-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TLCircular-Bold.woff2') format('woff2'),
    url('../fonts/TLCircular-Bold.woff') format('woff'),
    url('../fonts/TLCircular-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  font-size: 14px;
  line-height: 1.3;
  font-family: "TLCircular", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  background: #21314D;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  html, body {
    font-size: 12px;
  }
}

